.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.watch-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.cart-title{
    text-align: center;
    font-size: 23px;
    font-family: 'Lato';
    color: seagreen;
}