.answer{
    border: 2px solid peru;
    margin: 30px;
    padding: 15px;
}
.answer p{
    font-size: 17px;
}

.qna-image{
    width: 20rem;
}
.Question-two{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .Question-two{
        display: block;
    }
  }