.watch-card{
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
    position: relative;
}
.image{
    width: 350px;
    border-radius: 10px;
}
.watch-name{
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 500;
}

.watch-price{
    font-size: 21px;
    font-weight: 400;
}
.cart-btn{
    color: white;
    border: none;
    font-size: 17px;
    background-color: salmon;
    padding: 9px;
    border-radius: 10px;

  
}
.cart-icon{
    margin-left: 5px;
}