.watch-card{
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
   
}
.image{
    width: 350px;
    border-radius: 10px;
}
.watch-name{
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 500;
}

.watch-price{
    font-size: 21px;
    font-weight: 400;
}
.cart-btn{
    color: white;
    border: none;
    font-size: 17px;
    background-color: salmon;
    padding: 9px;
    border-radius: 10px;  
}

.cart-btn:hover{
    background-color: orange;
}
.cart-icon{
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .image{
        width: 230px;
    }
    .watch-card{
        margin: 10px;
        padding: 5px;
       
    }
    .watch-name{
        font-size: 23px;
        
    }
    .watch-price{
        font-size: 18px;
    }

    .cart-btn{
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
    }
  }